// Specific CSS for your home-page
.mainheader {
  text-align: center;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.carousel {
  margin-top: 0;
  max-width: 100%;
}

.homegrid {
  margin-bottom: 5em;
}

.btn-rounded {
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.384);
}

h2 {
  font-family: 'Kantumruy Pro', sans-serif;
}

h5 {
  font-family: 'Dongle', sans-serif;
  font-size: 36px;
}

p {
  font-family: 'Dongle', sans-serif;
  font-size: 22px;
}
