.h2-div {
  text-align: center;
}

h2 {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 8px;
  font-family: 'Kantumruy Pro', sans-serif;
}

p {
  font-family: 'Dongle', sans-serif;
  font-size: 24px;
}
