.big-container {
  margin-top: 1.5em;
}

.p-1 {
  color: black;
  margin-top: 1em;
  font-family: 'Kantumruy Pro', sans-serif;
  font-size: 18px;
}

.p-2 {
  color: black;
  margin-top: -30px;
  font-family: 'Kantumruy Pro', sans-serif;
  font-size: 18px;
}

p {
  font-family: 'Kantumruy Pro', sans-serif;
  font-size: 18px;
}
