.card-category {
  height: 430px;
  justify-content: center;
  align-items: center;
  padding: 1em;
  color: rgb(0, 0, 0);
  font-size: 25px;
  font-family: 'Dongle', sans-serif;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.create-button {
  align-items: center;
  justify-content: center;
  justify-items: center;
  display: inline-block;
  outline: 0;
  cursor: pointer;
  text-align: center;
  border: 0;
  padding: 7px 16px;
  min-height: 36px;
  min-width: 36px;
  color: #ffffff;
  background: #68B984;
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 0px 0px, rgba(0, 0, 0, 0.2) 0px -1px 0px 0px inset;
}

.create-button:hover {
  background: #569a6e;
}

.row {
  margin-bottom: 5em;
}

.mg-1 {
  padding-top: 2em;
}

h3 {
  margin-left: 10px;
}

.stars {
  margin-left: 10px;
  margin-bottom: 1em;
}

.stars2 {
  margin-left: 10px;
}
