<h1><strong> Pet Homes <strong></h1>


<div class="main-container">
      <div class="cards">
    <% @pet_home.each do |pet_home| %>
    <div class="card"> <%= image_tag "pic1.jpg" %>
    <p><%= pet_home.name  %></p>
    </div>
    <% end %>

      </div>
      <!-- Change the token below (https://www.mapbox.com/account/access-tokens/) -->
      <%# <img id="map" src='https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/2.3381,48.8693,10.45,0,0/600x1000?access_token=pk.eyJ1IjoibWluZ3VsYWJhIiwiYSI6ImNsYWNrOGthczBiMmQzcHJhZXNiNGc4ZDcifQ.QkRqXUe7fBr0DzW7S5DSHA'> %>
    </div>
